
*{
   margin:0; 
   padding:0;
   box-sizing: border-box;
}

header{
    padding: 2rem;
    margin-bottom: 3rem;
}


body{
   font-family:'Fredoka',sans-serif;
}

 .container{
    margin:0 auto;
    max-width:1170px; 
 }

 .card{
    height: 100px;
    width: 300px;
    background-color: black;
    float: left;
    margin-left: 50px;
    margin-bottom: 50px;
}























.titolo{
   color: magenta;
   text-align: center;
}
.paragrafo{
    text-align: center;
    margin-top: 2rem;
}